<!DOCTYPE html>
<head>
  <title>{% block title %}{% endblock %} - RPSchive</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='sockets.js') }}"></script>
</head>
<body>
  <nav>
    <h1>RPSchive</h1>
    <ul>
      <li><a href="{{ url_for('live') }}">Live Games</a></li>
      <!-- <li><a href="{{ url_for('history') }}">Game History</a></li>
      <li><a href="{{ url_for('player_search') }}">Player Search</a></li> -->
    </ul>
  </nav>
  <section class="content">
    <header>
      {% block header %}{% endblock %}
    </header>
    {% block content %}{% endblock %}
  </section>
</body>